<template name="programCreate">
  <h2>Create program</h2> {{#autoForm collection="Programs" id="programForm" type="insert"}}
  <fieldset>
    {{> afQuickField name='date'}}
    {{> afQuickField name='start_time'}}
    {{> afQuickField name='leadtext' rows=6}}
    {{> afQuickField name='name'}}
    {{> afQuickField name='bline'}}
    {{> afQuickField name='synopsis' rows=6}}
    {{> afQuickField name='url'}}
  </fieldset>
  <button type="submit" class="btn btn-primary">Add</button>
  <a class="btn btn-link" role="button" href="{{pathFor 'programsIndex'}}">Back</a> {{/autoForm}}
</template>
