<template name="header">
  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'home'}}">MTGx CRUD Meteor</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{{active 'home'}}"><a href="{{pathFor 'home'}}">Requirements</a></li>
          <li class="{{active 'programsIndex'}}"><a href="{{pathFor 'programsIndex'}}">Programs</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/gabidrg/mtgx-meteor-crud">See me on Github</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
